@using System.Security.Claims
@{
    ViewData["Title"] = "Create";
    
    string userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    string username = User.FindFirstValue(ClaimTypes.Name);
}

<div id="new-post-div">
    <div id="user-id" hidden>@userId</div>

    <label for="content" id="content-label">Post content</label>
    <textarea id="content" rows="10" placeholder="What's new?!"></textarea>
    <button id="send">Create</button>
</div>

<a id="back" href="/profile/@username">Go back</a>

<script type="module" src="~/js/create.js"></script>