@model MicroBlog.Models.ProfileViewModel
@{
    ViewData["Title"] = "Profile";
}

@if (User.Identity.Name == Model.Username)
{
    <a asp-controller="Profile" asp-action="Create">Create new post</a>
    <a asp-controller="Profile" asp-action="Edit">Edit profile</a>
    <a asp-controller="Account" asp-action="Logout">Logout</a>
}

<input type="text" id="user-id" value="@Model.Id" hidden>
<h1>@Model.Username.ToLower()</h1>
<h2><em>@Model.Email.ToLower()</em></h2>
<h3>@Model.Description</h3>

<hr>

<div id="posts"></div>

<script type="module" src="~/js/profile.js"></script>