@{
    ViewData["Titile"] = "Home";
}

<a asp-controller="Account" asp-action="Login">Login</a>
<a asp-controller="Account" asp-action="Register">Register</a>

<h1>Welcome!</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nam harum nihil officia! Corporis dolorem cumque, nam debitis, velit quisquam adipisci ducimus cum ad corrupti, minima tempore incidunt repellat facilis.</p>
